.feed {
    /* flex: 0.8; */
    margin: 0 20px;
}

.feed__inputContainer {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}